<h1 class="not-found">404</h1>
<h2>Where Did It Go?</h2>
<p class="flow-text">
    It was here. I swear it was here. But now… it’s gone. Or maybe it never was? You were looking for something, right?
    I was too. We’re both lost, maybe. Or maybe this is where we were meant to end up. A blank space. An empty page.
    It’s hard to tell sometimes.
</p>
<p>
    You can try again. You can search, or go back. But there’s no telling if it’ll be there next time.
</p>
<p>
    Maybe this is where you’re supposed to be.
</p>