<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h1>My first favourite meal besides hope</h1>
                <p>I am a very simple card. I am good at intriguing you into clicking on a link.</p>
            </div>
            <div class="card-action">
                <a href="favourite-food">Click it. You want it.</a>
            </div>
        </div>
    </div>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <h1>Does this sound familiar?</h1>
                <p>I know how I taste. You may too.</p>
            </div>
            <div class="card-action">
                <a href="my-favourite-taste">Proceed</a>
            </div>
        </div>
    </div>
</div>

</div>