  <footer class="page-footer grey">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Today is today.</h5>
                <p class="grey-text text-lighten-4">In the fragments of my mind, I search for pieces of truth.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="decaying">My hobby</a></li>
                  <li><a class="grey-text text-lighten-3" href="about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © What year is it?..
            <a class="grey-text text-lighten-4 right" href="https://x.com">Twitter</a>
            </div>
          </div>
        </footer>