 <nav class="grey">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Fragments of Somewhere</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">News</a></li>
        <li><a href="gallery">Gallery</a></li>
      </ul>
    </div>
  </nav>